<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210418932956-0rqkbvqikcofa76eu56chfri62mqi70p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210418932956-0rqkbvqikcofa76eu56chfri62mqi70p</string>
	<key>API_KEY</key>
	<string>AIzaSyA5UttoxL-FkqMmvCQTnZUQvyoPLAJgn1M</string>
	<key>GCM_SENDER_ID</key>
	<string>210418932956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Liege.IdentiBreedPerfected</string>
	<key>PROJECT_ID</key>
	<string>identibreed-24f23</string>
	<key>STORAGE_BUCKET</key>
	<string>identibreed-24f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210418932956:ios:feb6c5a3aaf2b5348fe819</string>
	<key>DATABASE_URL</key>
	<string>https://identibreed-24f23.firebaseio.com</string>
</dict>
</plist>